services:
  - type: web
    name: telegram-file-bot
    env: python
    plan: free
    autoDeploy: true
    buildCommand: bash render-build.sh
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: PORT
        value: "10000"

